*{
	padding: 0px;
	margin: 0px;
}

body{
	background-image: linear-gradient(#00c853, #0288d1);
}

/*Menu*/

.menu {
	overflow:hidden;
	font-family: 'Roboto', sans-serif;
	width: 100%;
	background: rgba(38,50,56,.9);
}

.menu a {
	float: left;
	padding: 5px 1.8%;
	padding-top: 1.5%;
	color: #f0f0f0;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
}

.menu a:hover {
	border-bottom: 3px solid white;
}

i {
    height: 30px;
    vertical-align: middle;
}

.active {
	border-bottom: 3px solid rgb(80,150,200);
	color: white;
}

.menu .icon {
	display: none;
}

@media screen and (max-width: 600px) {
	.menu a:not(:first-child) {display: none;}
	.menu a.icon {
		float: right;
		display: block;
	}
}

@media screen and (max-width: 600px) {
	.menu.responsive {position: relative;}
	.menu.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.menu.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
}

/*Extra*/

h3{
	position: absolute;
	right: 5px;
	bottom: 5px;
	color:#f0f0f0;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
}

@media only screen and (max-width: 800px) {
  
	

}

@media only screen and (max-width: 500px) {
  


}