*{
	padding: 0px;
	margin: 0px;
}

body{
	background-image: linear-gradient(#00c853, #0288d1);
}

form{
	width: 80%;
	position: absolute;
	top: 22%;
	left: 10%;
	color: #eceff1;
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
}

form h2{
	display: block;
	margin-bottom: 25px;
}

form #txt{
	display: block;
	width: 40%;
	background: rgba(250,250,250,.9);
	border: none;
	border-radius: 5px;
	padding: 8px;
	padding-left: 15px;
	color:#0f0f0f;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	margin-top: 30px;
}

form div{
	margin-top: 10px;
	margin-left: 30%;
}

form div input{
	width: 20px;
}

form div a{
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	color: #f0f0f0;
}

form button{
	display: block;
	width: 40%;
	background: rgba(38,50,56,.9);
	border: none;
	border-radius: 5px;
	padding: 5px;
	color:#f0f0f0;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	margin-top: 20px;
	box-shadow: 3px 3px #0f0f0f;
}

form button:hover{
	background: rgba(18,30,36,.9);
}

form button:active{
	box-shadow: 0px 0px;
}

h3{
	position: absolute;
	right: 5px;
	bottom: 5px;
	color:#f0f0f0;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
}

@media only screen and (max-width: 800px) {
  
	form #txt{
		width:60%;
	}

	form button{
		width:60%;
	}

	form div{
		margin-left: 20%;
	}

}

@media only screen and (max-width: 500px) {
  
	form #txt{
		width:90%;
	}

	form button{
		width:90%;
	}

	form div{
		margin-left: 5%;
	}

}