*{
	padding: 0px;
	margin: 0px;
}

body{
	background-image: linear-gradient(#00c853, #0288d1);
	font-family: 'Roboto', sans-serif;
}

/*Menu*/

.menu {
	overflow:hidden;
	font-family: 'Roboto', sans-serif;
	width: 100%;
	background: rgba(38,50,56,.9);
}

.menu a {
	float: left;
	padding: 5px 1.8%;
	padding-top: 1.5%;
	color: #f0f0f0;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
}

.menu a:hover {
	border-bottom: 3px solid white;
}

i {
    height: 30px;
    vertical-align: middle;
}

.active {
	border-bottom: 3px solid rgb(80,150,200);
	color: white;
}

.menu .icon {
	display: none;
}

@media screen and (max-width: 600px) {
	.menu a:not(:first-child) {display: none;}
	.menu a.icon {
		float: right;
		display: block;
	}
}

@media screen and (max-width: 600px) {
	.menu.responsive {position: relative;}
	.menu.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.menu.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
}

/*Panel de Control*/

.cpanel{
	margin-top: 5%;
	width: 85%;
	height: 70%;
	background: #37474f;
	border: solid #b0bec5;
	border-radius: 20px;
	box-shadow: 8px 10px #0f0f0f;
}

.cpanel img{
	position: absolute;
	width: 3%;
}

.up{
	top: 19%;
}

.down{
	top: 81%;
}

.right{
	right: 8%;
}

.left{
	left: 8%;
}

.cpanel .cont{
	width: 90%;
	height: 80%;
	position: relative;
	top: 10%;
	color: #f0f0f0;
	padding-left: 15%;
}

.control{
	width: 30%;
	height: 30%;
	padding: 20px;
	display: block;
	margin: 20px;
	border: dashed 1px #f0f0f0;
	border-radius: 10px;
	float: left;
}

.control button{
	margin-top: 15px;
	display: block;
	cursor: pointer;
    outline: none;
	width: 40%;
	background: #4db6ac;
	border: none;
	border-radius: 5px;
	padding: 5px;
	color:#efefef;
	font-size: 15px;
	box-shadow: 3px 3px #0f0f0f;
}

.control button:hover{
	background: #009688;
}

.control button:active{
	background: #009688;
	box-shadow: 0px 0px;
	border: none 0px;
}

.onoffswitch {
    position: relative; width: 90px;
    top: 30px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #00e676; color: #F0F0F0;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #e57373; color: #F0F0F0;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

/*Extra*/

h4{
	position: absolute;
	right: 5px;
	bottom: 5px;
	color:#f0f0f0;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
}

@media only screen and (max-width: 800px) {
  
	

}

@media only screen and (max-width: 500px) {
  


}